<div class="user_edit">
  <h1>
    <%= link_to root_path do %>
      <%= image_tag "idobata.png", class:"edit-img" %>
    <% end %>
  </h1>
  <h2>プロフィール編集画面</h2>
  <%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="nickname">
      <%= f.label :nickname, "ニックネーム" %><br />
      <%= f.text_field :nickname, autofocus: true, class: "edit edit-nickname" %>
    </div>

    <div class="email">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit edit-email" %>
    </div>

    <div class="password">
      <%= f.label :password, "新しいパスワード（英数6文字以上）" %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "edit edit-newpass" %>
    </div>

    <div class="password">
      <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "edit edit-newpass" %>
    </div>

    <div class="prefecture">
      <%= f.label :prefecture_id, "都道府県" %><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"information-prefecture"}) %>
    </div>

    <div class="municipality">
      <%= f.label :municipality, "市町村" %><br />
      <%= f.text_field :municipality, class: "edit edit-municipality" %>
    </div>

    <div class="address">
      <%= f.label :address, "番地" %><br />
      <%= f.text_field :address, class: "edit edit-address" %>
    </div>

    <div class="password">
      <%= f.label :current_password, "これまでのパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "edit edit-pass" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する", class: "edit edit-btn" %>
    </div>
  <% end %>

    <div class="delete">
      <p><%= button_to "アカウント削除", registration_path(@user), data: { confirm: "本当によろしいでしょうか？" }, method: :delete %></p>
    </div>
</div>
