<div class="contents row">
  <div class="registration_new">
    <h2>新規登録画面</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname, "ニックネーム" %><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%# f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"information-prefecture"}) %>
        <%= f.label :prefecture_id, "都道府県" %><br />
        <%= f.text_field :prefecture_id %>
      </div>

      <div class="field">
        <%= f.label :municipality, "市町村" %><br />
        <%= f.text_field :municipality %>
      </div>

      <div class="field">
        <%= f.label :address, "番地" %><br />
        <%= f.text_field :address %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>
</div>
