<div class = "friends-mypage">
  <%= link_to "マイページに戻る", user_path("mypage"), method: :get %>
</div>
<div class = "friends">
  <div class = "follower-list">
    <h1>友達申請中リスト</h1>
    <div class = "friends-box">
      <% @apply_friends.each do |friend| %>
        <% user = friend.followee %>
        <%= user.nickname %>
        <%= link_to "　友達申請を外す", user_friends_path(user.id), method: :delete %>
        <br>
      <% end %>
    </div>
  </div>

  <div class = "followee-list">
    <h1>友達承認待ちリスト</h1>
    <div class = "friends-box">
      <% @applied_friends.each do |friend| %>
        <% user = friend.follower %>
        <%= user.nickname %>
        <%= link_to "　申請を許可する", user_friends_path(user.id), method: :patch %>
        <%= link_to "　申請を拒否する",  user_friends_path(user.id), method: :delete  %>
        <br>
      <% end %>
    </div>
  </div>

  <div class = "friends-list">
    <h1>友達リスト</h1>
    <div class = "friends-box">
      <% @myfriend_users.each do |user| %>
        <%= link_to user.nickname, user_path(user) %>
        <%= link_to "　絶交する",  user_friends_path(user.id), method: :delete  %>
        <br>
      <% end %>
    </div>
  </div>
