<div class="user_header w_inner">
  <div class="user_logo">
    <%= link_to image_tag("idobata.png", class:"idobata-icon"), root_path %>
    <h1><%= "#{@user.nickname}さんのマイページ" %></h1>
  </div>
  <ul>
    <% if current_user.id == @user.id %>
      <li>
        <%= link_to "新規投稿", new_information_path, method: :get, class:
        "item-red-btn" %>
      </li>
      <li>
        <%= link_to "お気に入り", favorites_path, method: :get, class: "item-red-btn"
        %>
      </li>
      <li>
        <%= link_to "プロフィール編集", edit_user_registration_path, method: :get, class: "item-red-btn"
        %>
      </li>
      <li>
        <%= link_to "友達一覧", friends_path(current_user), method: :get, class: "item-red-btn"
        %>
      </li>
      <li>
        <%= form_with url: user_search_path, method: :get,local: true  do |f| %>
          <%= f.text_field :search_word, placeholder: "ニックネーム入力", class: "search-btn" %>
          <%= f.submit "友達を検索"%>
        <% end %>
      </li>
    <% else %>
      <% if @user.myfriend?(current_user) %>
        <div  class="follow-btn">すでに友達です</div>
        <%= link_to "絶交する", user_friends_path(@user.id), method: :delete, class: "follow-btn" %>
      <% else %>
        <% if @user.apply?(current_user) == 0 %>
          <%= link_to "申請を承認する", user_friends_path(@user.id), method: :patch, class: "follow-btn" %>
          <%= link_to "申請を拒否する", user_friends_path(@user.id), method: :delete, class: "follow-btn" %>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to "友達申請を外す", user_friends_path(@user.id), method: :delete, class: "follow-btn" %>
          <% else %>
            <%= link_to "友達申請をする", user_friends_path(@user.id), method: :post, class: "follow-btn" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="posts w_inner">
  <div><%= image_tag "teatime01.jpg", class:"teatime-img" %></div>
  <div class="post_list">
    <h2>投稿一覧</h2>
    <div class="post_block">
      <% @informations.each do |info| %>
        <% if current_user == info.user || (current_user.myfriend?(info.user) && info.status == 1)%>
          <div class="post">
            <% if info.images.attached? %>
              <%= image_tag info.images[0].variant(resize:'400x300').processed %> <br>
            <% else %>
              <%= image_tag "ido.png",size: '400x300' %>
            <% end %>
            <div class="title"><%= info.title %></div>
            <div class="explain"><%= info.category %></div>
            <%= link_to '詳細ページ', information_path(info), class: "show-page" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="page">
  <%= paginate @informations %>
</div>
