<div class="user_header w_inner">
  <div class="user_logo">
    <%= link_to image_tag("idobata.png", class:"idobata-icon"), root_path %>
    <h1><%= "#{@user.nickname}さんのマイページ" %></h1>
  </div>
  <ul>
    <% if current_user.id == @user.id %>
      <li>
        <%= link_to "新規投稿", new_information_path, method: :get, class:
        "item-red-btn" %>
      </li>
      <li>
        <%= link_to "お気に入り", root_path, method: :get, class: "item-red-btn"
        %>
      </li>
      <li>
        <%= link_to "プロフィール編集", edit_user_path("mypage"), method: :get, class: "item-red-btn"
        %>
      </li>
      <li>
        <%= link_to "友達一覧", friends_path(current_user), method: :get, class: "item-red-btn"
        %>
      </li>
      <li>
        <%= form_with url: user_search_path, method: :get,local: true  do |f| %>
          <%= f.text_field :search_word, class: "search-btn" %>
          <%= f.submit "search"%>
        <% end %>
      </li>
    <% else %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", user_friends_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_friends_path(@user.id), method: :post %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="posts w_inner">
  <div><%= image_tag "teatime01.jpg", class:"teatime-img" %></div>
  <div class="post_list">
    <h2>投稿一覧</h2>
    <div class="post_block">
      <% @informations.each do |info| %>
          <div class="post">
            <% if info.images.attached? %>
              <%= image_tag info.images[0].variant(resize:'400x300').processed %> <br>
            <% else %>
              <%= image_tag "ido.png",size: '400x300' %>
            <% end %>
            <div class="title"><%= info.title %></div>
            <div class="explain"><%= info.category %></div>
            <%= link_to '詳細ページ', information_path(info), class: "show-page" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="page">
  <%= paginate @informations %>
</div>
