<div class="info-show">
  <div class="info-box">
    <h2 class="title">
      <%= @information.title %>
    </h2>

    <div class="info-show">
      <% if @information.images.attached? %>
        <% @information.images.each do |image| %>
          <%= image_tag image.variant(resize:'400x300').processed %> <br>
        <% end %>
      <% else %>
        <%= image_tag "ido.png", class:"info-show-img" %>
      <% end %>
      <div class="info-show-category"><%= @information.category %></div>
      <div class="info-show-text"><%= @information.text %></div>
    </div>

    <% if current_user.id == @information.user_id %>
      <%= link_to "情報の編集", edit_information_path, method: :get, class: "info-edit" %>
      <p class="or-text">or</p>
      <%= link_to "削　除", information_path(@information.id), method: :delete, class:"info-destroy" %>
    <% end %>

    <div class="favorite">
      <div class="favorite-btn">
        <%# image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り</span>
      </div>
    </div>
    <div>
      <%= link_to "マイページに戻る", user_path("mypage"), method: :get, class: "mypage-btn" %>
    </div>
  </div>
</div>
