<div class="information-show">
  <div class="information-box">
    <h2 class="name">
      <%= @information.title %>
    </h2>

    <div class="info-show">
      <% if @information.images.attached? %>
        <% @information.images.each do |image| %>
          <%= image_tag image.variant(resize:'400x400').processed %> <br>
        <% end %>
      <% else %>
        <%= image_tag "ido.png", class:"info-show-img" %>
      <% end %>
      <div class="explain"><%= @information.category %></div>
      <div class="text"><%= @information.text %></div>
    </div>

    <% if current_user.id == @information.user_id %>
      <%= link_to "情報の編集", edit_information_path, method: :get, class: "information-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", information_path(@information.id), method: :delete, class:"information-destroy" %>
    <% end %>

    <div class="option">
      <div class="favorite-btn">
        <%# image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%# image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%# image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>
